:root{
    --cafe-com-leite: #a38068;
    --cafe: #513522;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    transition: all 0.3s ease-in-out;
    scroll-behavior: smooth;
}


li{
    list-style: none;
    
}

.navbar a{
    text-decoration: none;
    color: gray ;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

a:hover{
    color: var(--cafe-com-leite);
}

header{
    position: relative;
    padding: 0 2rem;
    
}

header:hover{
    position: relative;
    padding: 0 2rem;
    box-shadow: 0px 8px 10px lightgray;
    border-radius: .5em;
    backdrop-filter: blur(3px);
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .fa-solid.fa-bars{
    display: none;
}

.navbar .fa-solid.fa-plus{
    font-size: 1.5em;
    margin-right: .5em;
    transition: .8s ease-in-out;
    color: var(--cafe-com-leite);
}

.navbar .fa-solid.fa-plus:hover{
    transform: scale(1.5) rotate(360deg);
    color: var(--cafe-com-leite);
}



.navbar .actn-button{
    font-size: 1em;
    width: 6.5em;
    border-radius: .3em;
}

.navbar .actn-button:hover{
    box-shadow: 3px 5px 5px gray;
}

.navbar .nomelogo{
    font-size: 1.2em;
    transform: translate(10px 0px 0px);
}

.navbar .nomelogo:hover{
    transform: scale(1.2);
    
}


.navbar .logo{
    display: flex;
    justify-content: space-between;
    
}

.navbar .links{
    display: flex;
    gap: 2rem ;
}

.navbar .toogle-btn{
    display: flex;
    font-size: 1.5em;
    
}

.navbar .toogle-btn:hover{
    color: var(--cafe);
    cursor: pointer;
    
}

.home{
    background-image: url(./imagens/background-cafe.jpg);
    background-size: cover;
    background-position: center;
    height: 42em;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.home .merchant{
    color: whitesmoke;
    font-family: "Poppins" sans-serif;
    font-size: 2.3em;
}

.home p{
    color: whitesmoke;
    width: 30em;

}

.home .merchant,p{
    margin-right: auto auto;
}

.dropdown_menu{
    display: none;
}

.produtcs .product-slider{
    padding: 1rem;
}

.produtcs 

.produtcs .product-slider:first-child{
    margin-bottom: 2rem;
}

.produtcs .product-slider .box{
    background: #fff;
    border-radius: .5em;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    box-shadow: 0px 3px 5px var(--cafe-com-leite);

}

.produtcs .product-slider .box:hover{
    outline-offset: 0rem;
    outline: 1rem solid rgba(0, 0, 0, .1);
}

.produtcs .product-slider .box img{
    height: 20rem;
    border-radius: 3px;
}

.produtcs .product-slider .box h3{
    font-size: 2.5rem;
    color: var(--cafe-com-leite);
}

#products .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    font-weight: bold;
    font-size: 1.5em;
}

#products .heading .h1p1:hover{
    color: var(--cafe);
}

#products .heading .h1p2:hover{
    color: var(--cafe-com-leite);
}





@media(max-width: 730px){
    
    .navbar .links, .navbar .actn-button{
        display: none;
    }
    .navbar .fa-solid.fa-bars{
        display: flex;
    }
    .navbar .toogle-btn{
        display: flex;
    }
    .navbar .toogle-btn:hover{
        transform: scale(1.2);
    }
    .dropdown_menu{
        height: 240px;
    }

    .home{
        background-image: url(./imagens/litebackground-cafe.jpg);
        background-size: cover;
        background-position: center;
        height: 42em;
        display: flex;
        text-align: center;
        justify-content: space-between;
        align-items: center;
    }

    .home .dropdown_menu.active{
        display: flex;
        position: absolute;
        right: 2em;
        top: 4.5em;
        animation-name: example;
        animation-duration: 1s ease-in-out;
        animation-direction: normal;
        box-shadow: 0px 0px 30px var(--cafe-com-leite);
        backdrop-filter: blur(2px);
        height: 15em;
        width: 7em;
        justify-content: center;
        align-items: center;
        border-radius: 1em;
    }


    @keyframes example {
        0%   {transform: translate3d(0em 50em 0em);}
        100% {transform: translate3d(0em 0em 0em)}
      }

    .home h2{
        display: flex;
    }

    .home .dropdown_menu.active a{
        color: whitesmoke;
        text-decoration: none;
        

    }

    .home .dropdown_menu.active li{
        padding: .4em 0em;
    }

    .home .dropdown_menu.active .closemenu{
        font-size: 1em;
        display: flex;    
        color: whitesmoke;
        cursor: pointer;
    }

    

}